pandas
aiortc==1.3.2
numpy==1.22.3
opencv-python-headless==4.5.5.64
streamlit                             
streamlit_webrtc                                                           
opencv-python                             
mediapipe==0.8.9.1
